.advantages {

    .advantages__container {

        .advantages__list {
        display: flex;
        justify-content: space-between;
        align-content: center;
        
        }

    }
}

.advantages__item {
    margin-left: 10px;

    .advantages__container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-border-head;
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 5px;

    }

.advantages__title {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;

    }

.advantages__description {
    color: $color-secondary;
    line-height: 1.7;
    width: 270px;
    margin-top: 10px;

    }

    }

.advantages__section--pad {
    padding-bottom: 0;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .advantages {
        width: 100%;
        }

    .advantages__container {
        width: 768px;
        .advantages__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;
        padding: 0;
    }
}

.advantages__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    .advantages__container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-border-head;
    width: 354px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 5px;

    }

}

}

@media screen and (max-width: 479px) {
    
    .advantages {
        width: 100%;
        }

    .advantages__container {
        width: 480px;
        .advantages__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;
        padding: 0;
    }
}

.advantages__item {
    flex-basis: calc((100% - 30px) / 1);
    margin-bottom: 30px;

    .advantages__container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-border-head;
    width: 450px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 5px;

    }

    .advantages__title {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;

    }

.advantages__description {
    color: $color-secondary;
    line-height: 1.7;
    width: 450px;
    margin-top: 10px;

    }

}
}