.customers{

.customers__content {
    background-color: $color-text-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .customers__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    }

    }
}

.customers__companies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .customers__companies-item {
    
    .customers__companies-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-text-light;
    border: 1px $color-border-clients solid;
    border-radius: 4px;
    transition: fill 250ms $cubic, background-color 250ms $cubic;
    padding: 10px 60px;
    fill: $svg--section;

    &:hover, &:focus{
    fill: $color-main;
    border-color: $color-main;
    }

    }
    
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {

.customers{
width: 100%;

.customers__content {
    background-color: $color-text-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;

    .customers__title {
    width: 768px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
    }

    }
}

.customers__companies {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .customers__companies-item {
        flex-basis: calc((100% - 60px) / 3);
    }
}

}


@media screen and (max-width: 479px) {
    .customers{
width: 100%;

.customers__content {
    background-color: $color-text-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;

    .customers__title {
    width: 450px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
    }

    }
}

.customers__companies {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .customers__companies-item {
        flex-basis: calc((100% - 60px) / 2);
    }
}
}