.footer {
    display: flex;
    background-color: $color-background-sections;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
    padding-right: 215px;

    .footer__content {
    display: flex;

    .address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 90px;

    .address__logo {
    color: $color-main;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    }

    }

    }
}


.address__description{

    .address__item{

    &:hover {
    color: $color-main;
    text-decoration: none;
    }
    .address__link {
    font-style: normal;
    font-weight: 400;
    color: $color-text-light;
    text-decoration: none;
    transition: color 250ms $cubic;
    
    &:hover, &:focus {
    color: $color-main;
    text-decoration: none;
    }
    &--contact {
    color: rgba(255, 255, 255, 0.6);
    }

    }

    }

}

/* informative data - contact */

.footer__info {
    margin-right: 90px;

    .footer__info-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    .footer__info-title {
    color: $color-text-light;  
    font-family: inherit;
    font-size: 14px; 
    }

    }
}

.footer__icons{

.footer__icons-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;

    .footer__icons-item{

    .footer__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $color-text-light;
    background-color: $background-icon-foot;
    border-radius: 100%;
    padding: 12px;
    transition: fill 250ms $cubic, background-color 250ms $cubic;

    &:hover, &:focus {
    fill: $color-text-light;
    background-color: $color-main;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    }

    }

    }
    
    }
}

/* Seccion Boletin informativo */

.subscribe {
    display: flex;
    flex-direction: column;

    .subscribe__title {
    color: $color-text-light;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
}


.subscribe__form {
    margin-top: 20px;
    display: flex;
}

#user-email {
    background-color: transparent;
    width: 358px; 
    height: 50px;
    color: $color-text-light;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;

    &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    }
    &:focus-within {
    outline: none;
    }
}

.subscribe__button {
    background-color: $color-main;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: #FFFFFF;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px $color-text-main;
    transition: box-shadow 250ms $cubic;
    position: relative;
    width: 200px;
    height: 50px;
    padding-right: 20px;

    &:hover, &:focus {
    box-shadow: 0px 2px 4px $color-secondary;
    }

    .subscribe__icon {
    fill: $color-text-light;
    position: absolute;
    right: 20px;
    top: 15px;
    margin-left: 20px;
    }
}