.header {

    .header__container {
    display: flex;
    justify-content: space-between;
        
    .header__logo {
    color: $color-main;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    padding: 20px;
    margin-right: auto;
    }

}

}

.header__nav {

.header__nav__list {
    color: $color-text-main;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    
    .header__item {
        
        .header__link {
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        transition: color 250ms $cubic;
        
    }

    }

    .header__item:not(:last-child) {
        margin-right: 50px;
    }

    }
}

.header__contacts {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    
    .header__contacts-item {

        .header__contacts-link {
        color: $color-secondary;
        line-height: 1.1;
        text-decoration: none;
        transition: color 250ms $cubic;

        &:hover, &:focus {
        color: $color-main;
        }

        }
    
    }

    .header__contacts-item:not(:last-child){
    margin-right: 30px;

    }

}

.header__container--border {
    border-bottom: 1px solid $color-border-head;
}

.header__line-link {
    
    &:hover:after {
    content: "";
    background-color: $color-main;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: -1px;
    display: flex;
    justify-content: center;
}
}

::after {
    transition: background-color 250ms $cubic;
}

.link:hover, .link:focus {
color: $color-main;
text-decoration: none;
}

.mail-current:hover, .mail-current:focus {
    fill: currentColor;
}

.cell-current:hover, .cell-current:focus{
    fill: currentColor;
}

.header__link--current {
    color: $color-main;

    &::after {
    content: "";
    background-color: $color-main;
    border-radius: 10px;
    width: 100%;
    max-width: 65px;
    height: 5px;
    position: absolute;
    bottom: -1px;
    display: flex;
    justify-content: center;
}
}

/* elemento menu */

 .menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  }

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
}
}

@media screen and (max-width: 767px) {
   .header__nav{
    display: none;
  }
  .header__contacts{
display: none;
  }
}

.menu .link {
  color: inherit;
  text-decoration: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  right: 16px;
  top: 20px;
  transition: background-color 250ms $cubic, fill 250ms $cubic;

  &:hover,
&:focus {
  background-color: rgba(0, 0, 0, 0.1);
  fill: $color-main;
}
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 50px 0 50px 40px;
  background-color: $color-text-light;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 80px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu__socialmedialink {
color: $color-main;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;

 &:hover, &:focus {
 color: $color-text-main;
 }
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 28px;
  .menu__contacts-item {

    .menu__contacts-link{
      &:hover{
        color: $color-text-main;
      }
    }

.menu__contacts--mail {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: $color-main;
}
.menu__contacts--cell {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
letter-spacing: 0.02em;
color: $svg--section;
}

  }
}

.menu__link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.02em;

&:hover, &:focus {
color: $color-main;
}
}

.menu__socialmedia {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
}

.menu__socialmedia-item--line:not(:last-child) {
    border-right: 1px solid rgba(33,33,33,0.2);
    padding: 0 6px;
}