.hero {
    padding-top: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,rgba(47,48,58,0.3), rgba(47,48,58,0.4)),url(../images/backgroundmain.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    .hero__container {
    
        .hero__title {
        width: 570px;
        color: white;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        margin: 0 auto;
    }
    }
}

.hero__button-container{
    margin-top: 40px;
    text-align: center;

    .hero__button {
    background-color: $color-main;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px 2px;
    border-style: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px $color-text-main;
    transition: color 250ms $cubic, background-color 250ms $cubic, box-shadow 250ms $cubic;

    &:hover, &:focus {
    background-color: $color-active;
    box-shadow: 1px 2px 3px 2px $color-text-main;

    }
    
    }

  }

  @media screen and (max-width: 767px) {
  
    .hero {
    width: 100%;
    max-width: 767px;
    min-height: 400px;

   .hero__container {
   width: 100%;

        .hero__title {
        width: 100%;
        max-width: 360px;
        color: white;
        font-size: 26px;
        line-height: 1.4;
        text-align: center;
        margin: 0 auto;
    }
    }
}

}

@media screen and (max-width: 768px){
.hero {
    background-image: linear-gradient(to right,rgba(47,48,58,0.3), rgba(47,48,58,0.4)), url("/images/backgroundmain_tablet1x.jpg");
    background-size: cover;
  }
}
  
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
    screen and (min-resolution: 192dpi) and (max-width: 768px),
    screen and (min-resolution: 2dppx) and (max-width: 768px) {
    .hero {
    background-image: linear-gradient(to right,rgba(47,48,58,0.3), rgba(47,48,58,0.4)), url("/images/backgroundmain_tablet2x.jpg");
    background-size: cover;
    }
  }

  @media screen and (max-width: 480px){
.hero {
    background-image: linear-gradient(to right,rgba(47,48,58,0.3), rgba(47,48,58,0.4)),url("/images/backgroundmain_d1x.jpg");
    background-size: cover;
  }
}
  
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 480px),
    screen and (min-resolution: 192dpi) and (max-width: 480px),
    screen and (min-resolution: 2dppx) and (max-width: 480px) {
    .hero {
    background-image: linear-gradient(to right,rgba(47,48,58,0.3), rgba(47,48,58,0.4)), url("/images/backgroundmain_d2x.jpg");
    background-size: cover;
    }
    }


