.Backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0, 0.3);
visibility: visible;
opacity: 1;
transition: opacity 250ms $cubic, visibility 250ms $cubic;
}

.modal {
width: 530px;
height: auto;
background-color: $color-text-light;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

.modal__button-close {
    color: $color-text-main;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 9px 9px 10px;
    background-color: $color-text-light;
    border: 1px solid $color-border-clients;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill 250ms $cubic, border-color 250ms $cubic;
    &:hover {
    fill: $color-main;
    border-color: $color-main;
    }

    }
}

.is-hidden {
visibility:hidden;
opacity:0;
pointer-events:none;
}

.modal__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modal__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: $color-text-main;
    margin-bottom: 12px;
    }
}


.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.name__container {
    position: relative;

    #name {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 50px;
    transition: border-color 250ms $cubic;
  
    &:focus-visible {
    outline: none;
    border-color: $color-main;
    }

    &:focus-visible + svg {
    fill: $color-main;
    }

    }
    .name__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms $cubic;
    }

}

.phone__container {
    position: relative;

    #phone-number {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 50px;
    transition: border-color 250ms $cubic;
    &:focus-visible {
    outline: none;
    border-color: $color-main;
    }

    &:focus-visible + svg {
    outline: none;
    fill: $color-main;
    }

    }

    .phone__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms $cubic;
    }

}

.mail__container {
    position: relative;

    #email {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 10px 10px 10px 50px;
    transition: border-color 250ms $cubic;

    &:focus-visible {
    outline: none;
    border-color: $color-main;
    }

    &:focus-visible + svg {
    outline: none;
    fill: $color-main;
    }

    }

    .mail__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms $cubic;
    }
}

:focus-within {
    outline: none;
}

#comments {
    cursor: pointer;
    width: 448px;
    height: 120px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border-color 250ms $cubic;

    &:focus-visible {
        outline: none;
        border-color: $color-main;
    }

    &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }

}

.agreements__container {
    display: flex;
    margin-top: 16px;
    position: relative;

    #agreements {
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:checked + .agreements__icon {
    background-image: url(../images/icono-revisado.svg);
    background-size: contain;
    border-radius: 2px;
    background-color: $color-main;
    border-style: none;
    }

    }

    .agreements__icon {
    border: 2px solid $color-text-main;
    fill: $color-text-light;
    border-radius: 2px;
    transition: background-color 250ms $cubic;
    }

    .agreements__text {
    margin-left: 10px;
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
    color: $color-secondary;
    }

} 

.submit__button-container {
    display: flex;
    justify-content: center;

    .submit__button {
    margin-top: 10px;
    background-color: $color-main;
    width: 200px;
    height: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    color: $color-text-light;
    transition: box-shadow 250ms $cubic;

    &:hover {
    box-shadow: 0px 1px 4px $color-text-main;
    cursor: pointer;
    }

    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    
    .modal {
        width: 450px;
        position: absolute;
        left: 400px;
    }

    .modal__container {
    width: 450px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    .modal__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: $color-text-main;
    margin-bottom: 12px;
    }

    #name {
        width: 370px;
    }

    #phone-number {
width: 370px;
    }

    #email {
width: 370px;
    }

    #comments {
width: 370px;
    }
}

}