.professionals {
    background-color: $color-secondary-back;

    .professionals__container{
         padding-top: 94px;
         padding-bottom: 94px;
    
    .professionals__secondary-title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 50px;
    font-family: inherit;
    text-align: center;
    }

    }

}

.professionals__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .professionals__item {
    flex-basis: calc((100% - 90px) / 4);
}

}

.professionals__card {
    margin: 0 auto;
    background-color: $color-text-light;
    border-radius: 4px;
    box-shadow: 2px 2px 3px $color-secondary;
    
    .professionals__card-img {
    max-width: 100%;
    height: auto;
    }
    
}

.professionals__card-content {
    padding: 30px 32px;
    text-align: center;

    .professionals__card-content-name {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    }
    .professionals__card-content-profession {
    color: $color-secondary;
    font-size: 16px;
    line-height: 1.1;
    margin-top: 10px;
    }
}

.professionals__card-content-iconsgroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;

    .professionals__card-iconsgroup-item {

        .professionals__icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 100%;
        border-style: none;
        fill: $svg--section;
        transition: fill 250ms $cubic, background-color 250ms $cubic;

        &:hover, &:focus {
        background-color: $color-main;
        border-radius: 100%;
        border-style: none;
        fill: $color-text-light;
        width: 44px;
        height: 44px;
    }

    }
}
}


@media screen and (max-width: 767px) {
    .professionals {
    background-color: $color-secondary-back;
    width: 100%;

    .professionals__container{
         padding-top: 60px;
         max-width: 480px;
         padding-bottom: 60px;
    
    .professionals__secondary-title {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 50px;
    font-family: inherit;
    text-align: center;
    }

    }

}

.professionals__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .professionals__item {
    flex-basis: calc((100% - 20px) / 1);
    width: 100%;
}

.professionals__card-content-iconsgroup {
    width: 100%;
}

}

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .professionals {
    background-color: $color-secondary-back;
    width: 100%;

    .professionals__container{
    padding-top: 60px;
    max-width: 768px;
    padding-bottom: 60px;
    
    .professionals__secondary-title {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 50px;
    font-family: inherit;
    text-align: center;
    }

    }

}

.professionals__list {
    display: flex;
    flex-wrap: wrap;


    .professionals__item {
    flex-basis: calc((100% - 30px) / 2);
}

}

}